.Modal {
  &__inner {
    align-items: center;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__contents {
    align-items: center;
    background: #fcfcfc;
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgb(55,55,55, .4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    padding: 2.4rem;
    position: relative;
    width: auto;
    // height: 100%;
    max-width: 80%;
    max-height: 80vh;
  }
  &__background {

  }
  &__img {
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 80%;
    margin-bottom: 2.4rem;
    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }
  &__download {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    width: 100%;
    @media (max-width: 320px) {
      font-size: 1.6rem;
    }
  }
  &__downloadButton {
    background: #000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: .8rem;
    text-align: center;
    width: 80%;
    max-width: 240px;
  }
  &__downloadButtonText {
    margin-right: .4rem;
  }
  &__desc {
    font-family: 'Caveat', cursive;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}